<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up success!</title>
</head>
<body>
<h3>Sign up success!</h3>
<ul>
    <li th:text="${session.user.username}"></li>
    <li th:text="${session.user.userProfile.firstname}"></li>
    <li th:text="${session.user.userProfile.lastname}"></li>
    <li th:text="${session.user.password}"></li>
    <li th:text="${session.user.email}"></li>
    <li th:text="${session.user.userProfile.address}"></li>
    <li th:text="${session.user.userProfile.zipCode}"></li>
    <li th:text="${session.user.userProfile.cityName}"></li>
</ul>
</body>
</html>